<mat-card class="card" appearance="outlined">
    <a mat-list-item routerLink="/recipe/{{recipe().id}}" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img mat-card-image [src]="recipe().image" [alt]="recipe().name">
    </a>
    <mat-card-content>
        <mat-card-title class="title">{{recipe().name}}</mat-card-title>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>